#sidebar {
  background: #23282b;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 99;
  .sidebar-header {
    padding: 20px;
    #wsu-signature {
      background-image:url(/wsuf-sidebar/images/sidebar-logo.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 150px auto;
      background-color: transparent;
      height: 155px;
      display: block;
      text-indent: 120%;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      z-index: 99;
    }
  }

  ul.components {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-left: 1.75em;
    margin-right: 1.75em;
    li {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
      -o-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
      transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
      &.show {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
        -o-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
        transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
      }
      a {
        line-height: 1em;
      }
      border-color: rgba(255,255,255,.1);
      border-width: 1px 0 0 0;
      border-style: solid;
      line-height: 0.7em;
      font-family: "Lucida Sans Unicode";
      ul {
        padding-left: 20px;
        li {
          border: none;
        }
      }
    }
  }

  ul {
    p {
      color: #fff;
      padding: 10px;
    }
    li a {
      color: #d7dadb;
      padding: 10px;
      font-size: 1.1em;
      display: block;
      text-decoration: none !important;
      &:hover{
        font-weight: bold;
        text-decoration: none !important;
      }
    }
  }
}

.swing {
  perspective: 100px;
}

#sidebar a {
  line-height: 0.7em;
  font-family: "Lucida Sans Unicode";
  color: #fff;
  padding: 20px;
  padding-left: 35px;
  font-size: 0.9em;
  display: block;
  text-decoration: none !important;
  &:hover {
    font-weight: bold;
    text-decoration: none !important;
  }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
}

.wsuf-sidenav {
  overflow: hidden;
  outline: none;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

.logout {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: unset !important;
  cursor: pointer;
}

.glyphicon {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  vertical-align: middle;
  &.glyphicon-off {
    color: white;
    content: url(/wsuf-sidebar/images/power-icon-sm.png);
  }
  &:hover {
    font-weight: bold;
  }
}